#home {
    position: relative;
    margin-top: 70px;
  }
  
  #home img {
    width: 100%;
    display: block;
  }
  
  #home h1 {
    position: absolute;
    top: 30%;
    right: 50px;
    margin: 10px;
    color:rgb(250, 2, 101);
    font-size: 40px;
    font-weight: bolder;
    padding: 10px;
  }
  